asn1crypto==0.24.0
backports.functools-lru-cache==1.5
certifi==2019.6.16
chardet==3.0.4
configparser==3.7.4
cryptography==2.1.4
Cython==0.29.10
entrypoints==0.3
enum34==1.1.6
flake8==3.7.7
functools32==3.2.3.post2
futures==3.2.0
idna==2.8
ipaddress==1.0.17
isort==4.3.20
keyring==10.6.0
keyrings.alt==3.0
mccabe==0.6.1
pep8==1.7.1
pycodestyle==2.5.0
pycrypto==2.6.1
pyflakes==2.1.1
pygobject==3.26.1
pyxdg==0.25
requests==2.22.0
SecretStorage==2.3.1
six==1.11.0
typing==3.7.4
urllib3==1.25.3
yapf==0.27.0
