boto3==1.9.179
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
certifi==2019.6.16
chardet==3.0.4
configparser==3.7.4
entrypoints==0.3
enum34==1.1.6
idna==2.8
ipaddress==1.0.17
isort==4.3.20
keyring==10.6.0
keyrings.alt==3.0
mccabe==0.6.1
requests==2.22.0
urllib3==1.25.3
gunicorn==19.7.1
matplotlib==3.0.3 
